a {
    text-decoration: none;
}

.genre_animes{
    color: var(--light_blue);
    font-size: 2.5rem;
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.genre_animes #label {
    text-align: center;
    margin-bottom: 0;
    font-size: 5rem;
}

.genre_animes #results {
    color: var(--dark_white);
    font-weight: lighter;
    font-family: Abel;
    text-align: center;
    margin-top: 0;
    font-size: 3rem;
}

.genre_animes .card{
    margin: 10px;
    margin-left: auto;
    margin-right: auto;

    height: 20%;
    width: 90%;

    border-radius: 5px;
    transition: 0.5s;

    position: relative;

    z-index: 2;

    overflow: hidden;

    border: solid;
    border-color: #bcbedc;
    border-width: 2px;
}

.genre_animes .card:hover {
    box-shadow: 0px 0px 18px var(--light_blue);
}

.genre_animes .card:hover .card_bg {
    width: 105%;
    height: 105%;
}

.genre_animes .card .card_bg {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.5s;
}

.genre_animes .card .card_bg_layer {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 5px;
}

.genre_animes .card .card_content {
    z-index: 1;
    display: flex;
    position: relative;
}

/* Left */
.genre_animes .card .card_left {
    width: 28%;
    border-radius: 5px 0 0 5px;
}

.genre_animes .card .card_left .card_left_flexbox {
    display: flex;
    height: 100%;
}

.genre_animes .card .card_left .card_left_flexbox .card_ratings{
    font-size: 0rem;
    text-align: center;
    font-family: 'open sans',arial,sans-serif;
    color: #bcbedc;
    z-index: 4;
    background-color: #bcbedc;
    height: 100;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.genre_animes .card .card_left .card_left_flexbox .card_ratings #card_rating_bigger{
    font-size: 3rem;
    font-weight: bold;
    color: #2b2d42;
}

.genre_animes .card .card_left .card_left_flexbox .card_ratings #star{
    max-height: 40%;
    max-width: 40%;

    margin-right: auto;
    margin-left: auto;
}

.genre_animes .card .card_left .card_left_flexbox .card_img {
    object-fit: cover;
    max-width: 85%;
    max-height: 100%;
    flex: 1;
}

/* Right */
.genre_animes .card .card_right {
    height: 50%;
    flex: 1;
}

/* Right Top */
.genre_animes .card .card_right .card_right_top {
    width: 100%;
    display: block;
}

.genre_animes .card .card_right .card_right_top .card_title {
    color: var(--light_blue);
    font-size: 3rem;
    margin-left: 10px;
    margin-bottom: 0;
}

.genre_animes .card .card_right .card_right_top .card_season {
    margin: 0;
    color: var(--discord_blue_lighter);
    font-size: 1.4rem;
    margin-left: 10px;
    margin-top: 20px;

    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 600px;
    text-transform: capitalize;
}

.genre_animes .card .card_right .card_right_top .card_genres {
    margin-left: 10px;
    width: 100%;
}

.genre_animes .card .card_right .card_right_top .card_genres strong:hover{
    background-color: var(--discord_blue_lighter);
    box-shadow: 0px 0px 18px var(--discord_dark_grey);
}

.genre_animes .card .card_right .card_right_top .card_genres strong{
    color: var(--dark_blue);
    background-color: var(--light_blue);

    padding: 4px;

    cursor: pointer;

    border-radius: 5px;

    transition: 0.2s;

    margin-right: 0.5%;

    font-size: 1.4rem;
}

/* Right Bot */
.genre_animes .card .card_right .card_right_bot {
    width: 100%;
    display: block;
}

.genre_animes .card .card_right .card_right_bot .card_desc {
    font-size: 1.5rem;
    padding: 10px;
    color: var(--dark_white);
}

@media only screen and (max-width: 1666px) and (min-width: 1500px) {
    .genre_animes .card .card_left .card_left_flexbox .card_ratings #card_rating_bigger{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1400px){
    .genre_animes .card .card_left .card_left_flexbox .card_ratings #card_rating_bigger{
        font-size: 2rem;
    }

    .genre_animes .card .card_right .card_right_top .card_title {
        color: var(--display_red);
        font-size: 2rem;
        margin-left: 10px;
    }

    .genre_animes .card .card_right .card_right_top .card_genres strong{
        font-size: 1.3rem;
    }

    .genre_animes .card .card_right .card_right_bot .card_desc {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1300px){
    .genre_animes .card .card_left .card_left_flexbox .card_ratings #card_rating_bigger{
        font-size: 2rem;
    }

    .genre_animes .card .card_left {
        width: 30%;
    }

    .genre_animes .card .card_right .card_right_top .card_genres strong{
        font-size: 1.1rem;
    }

    .genre_animes .card .card_right .card_right_bot .card_desc {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1200px){
    .genre_animes .card .card_left .card_left_flexbox .card_ratings #card_rating_bigger{
        font-size: 2rem;
    }

    .genre_animes .card .card_right .card_right_top .card_genres strong{
        font-size: 1.1rem;
    }

    .genre_animes .card .card_right .card_right_bot .card_desc {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1100px){
    .genre_animes .card .card_left .card_left_flexbox .card_ratings #card_rating_bigger{
        font-size: 2rem;
    }

    .genre_animes .card .card_right .card_right_top .card_genres strong{
        font-size: 0.9rem;
    }

    .genre_animes .card .card_right .card_right_bot .card_desc {
        font-size: 0.7rem;
    }
}

/* Mobile Style */
@media only screen and (max-width: 1100px) and (min-width: 800px){
    /* Left */
    .genre_animes .card {
        width: 95%;
        margin-bottom: 30px;
    }

    .genre_animes .card .card_content {
        flex-direction: column-reverse;
    }

    .genre_animes .card .card_left {
        width: 100%;
    }

    .genre_animes .card .card_left .card_left_flexbox {
        flex-direction: column-reverse;
    }

    .genre_animes .card .card_left .card_left_flexbox .card_ratings{
        margin-top: 5px;
        height: 100;
        width: 100%;
        border-radius: 5px 0 0 5px;
        flex-direction: row;
        margin: 0;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .genre_animes .card .card_left .card_left_flexbox .card_ratings #star{
        max-height: 7%;
        max-width: 7%;
        flex: 1;
        margin-right: initial;
        margin-left: initial;
    }

    .genre_animes .card .card_left .card_left_flexbox .card_ratings #card_rating_bigger{
        text-align: initial;
    }

    .genre_animes .card .card_left .card_left_flexbox .card_img {
        width: 70%;
        height: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }

    /* Right Top */

    .genre_animes .card .card_right .card_right_top .card_title {
        font-size: 3rem;
    }

    .genre_animes .card .card_right .card_right_top .card_genres {
        display: inline-block;
    }
    
    .genre_animes .card .card_right .card_right_top .card_genres strong{
        font-size: 1.5rem;
        display: inline-flex;
        flex-direction: column;
    }

    /* Right Bot */
    .genre_animes .card .card_right .card_right_bot .card_desc {
        font-size: 1.2rem;
        padding: 12px;
        color: var(--dark_white);
    }
}

@media only screen and (max-width: 800px){
    /* Left */
    .genre_animes .card {
        width: 95%;
        background-color: var(--dark_blue_trans);
        margin-bottom: 30px;
    }

    .genre_animes .card .card_bg,
    .genre_animes .card .card_bg_layer {
        display: none;
    }

    .genre_animes .card .card_content {
        flex-direction: column-reverse;
    }

    .genre_animes .card .card_left {
        width: 100%;
    }

    .genre_animes .card .card_left .card_left_flexbox {
        flex-direction: column-reverse;
    }

    .genre_animes .card .card_left .card_left_flexbox .card_ratings{
        margin-top: 5px;
        height: 100;
        width: 100%;
        border-radius: 5px 0 0 5px;
        flex-direction: row;
        margin: 0;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-color: var(--dark_blue_trans);
    }

    .genre_animes .card .card_left .card_left_flexbox .card_ratings #star{
        max-height: 7%;
        max-width: 7%;
        flex: 1;
        margin-right: initial;
        margin-left: initial;
    }

    .genre_animes .card .card_left .card_left_flexbox .card_ratings #card_rating_bigger{
        text-align: initial;
        color: var(--light_blue);
    }

    .genre_animes .card .card_left .card_left_flexbox .card_img {
        width: 70%;
        height: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }

    /* Right Top */

    .genre_animes .card .card_right .card_right_top .card_title {
        font-size: 2.5rem;
    }

    .genre_animes .card .card_right .card_right_top .card_genres {
        display: inline-block;
    }

    .genre_animes .card .card_right .card_right_top .card_genres strong{
        font-size: 1.2rem;
        display: inline-flex;
        flex-direction: column;
    }

    /* Right Bot */
    .genre_animes .card .card_right .card_right_bot .card_desc {
        font-size: 1.2rem;
        padding: 12px;
        color: var(--dark_white);
    }
}

:root {
    --dark_blue_trans: #2b2d4286;
    --dark_blue: #2b2d42;
    --light_blue: #bcbedc;
    --display_red: #e94560;
    --discord_blue: #7289da;
    --top_card_border: #7289da;
    --bot_card_border: #7289da;
    --discord_blue_lighter: #8496d8;
    --discord_light_grey: #99aab5;
    --discord_grey: #2c2f33;
    --discord_dark_grey: #23272a;
    --dark_white: #ececec;

    --read_font: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');