body {
    background-color: var(--discord_grey);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.notices img {
    max-height: 30rem;
    max-width: 99%;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: solid;
    border-color: #bcbedc;
    border-width: 2px;
}

.buttons {
    text-align: center;
    margin-top: 20px;

    margin: 10px;
    display:grid;
    gap:0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;

    transition: 0.5s;
}

.buttons a:hover {
    cursor: pointer;
    background-color:#bcbedc60;
    color: var(--dark_white);
}

.buttons a {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    text-decoration: none;
    border-radius: 10px;
    font-size: 3.5rem;
    color: #bcbedc;
    border-radius: 5px;
    background-color:#38383f63;

    text-align: center;
    transition: 0.2s;

    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

    transition: 0.5s;
    font-weight: 500;
    text-transform: capitalize;

    border: solid;
    border-color: #bcbedc;
    border-width: 2px;
}

#subtitle{
    color: white;
    text-align: center;
    font-size: 3rem;
}

#english {
    font-size: 1rem;
    font-weight: lighter;
}

@media only screen and (max-width: 800px){
    #subtitle{
        font-size: 2.5rem;
    }

    .notices img {
        max-height: 30rem;
        max-width: 90%;
    }

    .buttons a {
        font-size: 2.5rem;
    }
}

:root {
    --display_red: #e94560;
    --discord_blue: #7289da;
    --top_card_border: #7289da;
    --bot_card_border: #7289da;
    --discord_blue_lighter: #8496d8;
    --discord_light_grey: #99aab5;
    --discord_grey: #2c2f33;
    --discord_dark_grey: #23272a;
    --dark_white: #ececec;

    --read_font: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}