html {
    height: 100%;
}

body {
    margin: 0;
}

.view {
    margin-top: 4rem;
}

.view_content {
    display: flex;
    margin: 5px;
}

.view_bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    background-color: white;
}

/* Right */
.view_container#right {

    width: 25%;

    background-color: rgba(0, 0, 0, 0.527);

    border-radius: 0 9px 9px 0;
    border: solid;
    border-width: 2px;
    border-color: var(--top_card_border);
    border-left: none;
}

.view_container#right img {
    width: 100%;
    height: 100%;

    border-radius: 0px 5px 5px 0px;
}

/* Left */
.view_container#left {
    flex: 1;

    width: 80%;

    background-color: rgba(0, 0, 0, 0.527);

    border-radius: 5px 0 0 5px;
    border: solid;
    border-width: 2px;
    border-color: var(--top_card_border);
    border-right: none;

    display: flex;
    flex-direction: column;
}

.view_container#left {
    flex: 1;
}

.view_container#left .view_title {
    text-transform: capitalize;

    color: var(--dark_white);

    font-family: var(--read_font);
    font-weight: 600px;
    font-size: 4rem;

    margin-top: 0px;
    margin-left: 1%;
}

.view_container#left .view_genres {
    margin-left: 1%;
}

.view_container#left .view_genres strong:hover{
    background-color: var(--discord_blue_lighter);
    box-shadow: 0px 0px 18px var(--discord_dark_grey);
}

.view_container#left .view_genres strong{
    color: var(--dark_white);
    background-color: var(--discord_blue);

    padding: 4px;

    cursor: pointer;

    border-radius: 5px;

    transition: 0.2s;

    margin-right: 0.5%;
}

.view_container#left .view_rating {
    margin-left: 1%;
    display: flex;

    width: 100%;
    height: 6%;
}

.view_container#left .view_rating .card_rating_bigger {
    font-size: 4rem;

    color: var(--dark_white);

    flex: 1;

    width: 90%;
}

.view_container#left .view_rating .star {
    max-height: 100%;
}

.view_container#left .view_desc {
    margin-left: 1%;

    color: var(--dark_white);

    font-size: 1.3rem;

    padding-right: 10px;
}

/* Mid */
.view_container#mid .seasons {
    width: 99%;
    display: inline-block;

    background-color: rgba(0, 0, 0, 0.527);

    padding-bottom: 20px;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.view_container#mid .seasons .season_card:hover {
    background-color: var(--discord_dark_grey_hover);
    box-shadow: 0px 0px 9px black;
}

.view_container#mid .seasons .season_card {
    display: inline-flex;
    flex-direction: column;

    background-color: var(--discord_dark_grey);

    width: 12%;
    margin: 3px;

    border-radius: 5px;

    transition: 0.3s;
}

.view_container#mid .seasons .season_card #top {
    height: 100%;
    width: 100%;
}

.view_container#mid .seasons .season_card #top img{
    height: 100%;
    width: 100%;

    border-radius: 5px 5px 0 0;
}

.view_container#mid .seasons .season_card #bot {
    flex: 1;
    margin-left: 1%;
}

.view_container#mid .seasons .season_card #bot .season_card_title {
    font-size: 1rem;
    color: white;

    margin-bottom: 0;
}

.view_container#mid .seasons .season_card #bot .season_card_date {
    font-size: 0.9rem;
    color: grey;
}

.view_container#mid .seasons .season_card #bot .season_card_type {
    font-size: 0.8rem;
    color: var(--discord_blue_lighter);
}

.view_container#mid {
    margin-left: 0.5%;
    flex: 1;

    width: 99%;

    background-color: rgba(0, 0, 0, 0.459);

    border: solid;
    border-width: 1px;
    border-color: var(--bot_card_border);
    border-radius: 5px;
}

.view_container#mid .view_review {
    color: var(--dark_white);

    padding: 10px;

    font-family: var(--read_font);
    font-size: 1.5rem;
}

.view_container#mid .season_label {
    background-color: rgba(0, 0, 0, 0.527);
    margin: 0;

    border-radius: 5px 5px 0px 0px ;
    padding-left: 0.5%;
    color: var(--dark_white);
    font-size: 5rem;
}

.view_container#mid .review_label {
    color: var(--dark_white);
    font-size: 5rem;
    margin-left: 0.5%;

}

/* Comments */
.view_comments {
    background-color: #23272a;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    margin-top: 20px;

    box-shadow: 5px 0px 18px black;
}

.view_comments h1 {
    text-align: center;
    position: relative;
    color: white;
}


@media only screen and (max-width: 1900px) and (min-width: 1000px) {
    /* Right */
    .view_container#right {
        width: 30%;
    }

    /* Left */   
    .view_container#left .view_genres strong{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1350px) and (min-width: 1000px) {
    .view_container#mid .seasons .season_card {
        width: 24%;
    }
}

@media only screen and (max-width: 1000px) {
    .view_content {
        flex-direction: column;
    }

    /* Left */
    .view_container#left {
        height: 80vw;
        width: 100%;
    }
    
    .view_container#left .view_title {
        font-size: 3rem;
    }
    
    .view_container#left .view_genres {
        margin-left: 1%;
    }
    
    .view_container#left .view_genres strong:hover{
        background-color: var(--discord_blue_lighter);

        box-shadow: 0px 0px 18px var(--discord_dark_grey);
    }
    
    .view_container#left .view_genres strong{
        padding: 4px;

        font-size: 1rem;
    }

    /* Right */
    .view_container#right {
        height: 120vw;
        width: 80%;

        margin-left: 10%;
        margin-top: 5px;
        margin-bottom: 5px;
        
        border-radius: 5px;

        border: none;
    }
    
    .view_container#right img {
        max-width: 100%;
        max-height: 100%;
    
        border-radius: 5px;

        border: solid;
        border-width: 2px;
        border-color: var(--top_card_border);
    }

    /* Mid */
    .view_container#mid .seasons .season_card {
        width: 24%;
    }
    
    .view_container#mid .seasons .season_card #bot .season_card_title {
        font-size: 1rem;
    }
    
    .view_container#mid .seasons .season_card #bot .season_card_date {
        font-size: 0.9rem;
    }
    
    .view_container#mid .seasons .season_card #bot .season_card_type {
        font-size: 0.8rem;
    }

    .view_container#mid {
        flex: none;

        width: 100%;

        display: block;
        margin-left: 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 780px) {
    .view_container#mid .seasons .season_card {
        width: 48%;
    }
    
    .view_container#mid .seasons .season_card #bot .season_card_title {
        font-size: 1rem;
    }
    
    .view_container#mid .seasons .season_card #bot .season_card_date {
        font-size: 0.9rem;
    }
    
    .view_container#mid .seasons .season_card #bot .season_card_type {
        font-size: 0.8rem;
    }
} 



:root {
    --discord_blue: #7289da;
    --top_card_border: #7289da;
    --bot_card_border: #7289da;
    --discord_blue_lighter: #8496d8;
    --discord_light_grey: #99aab5;
    --discord_grey: #2c2f33;
    --discord_dark_grey: #23272a;
    --discord_dark_grey_hover: #33393d;
    --dark_white: #ececec;

    --read_font: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}